* {
  margin: 0;
  padding: 0;
}

.common-btn {
  background-color: #1d4ed8;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 10px;
}
.navbar-parent {
  max-width: 1150px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
}
.navbar-center ul {
  list-style: none;
  display: flex;
  gap: 17px;
}

.navbar-center ul li a {
  text-decoration: none;
  color: #575757;
}

header {
  background-image:
    linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)),
    url("./assets/banner.jpg");
  min-height: 90vh;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;

  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.header-top h1,
.header-top p {
  color: #ffffff;
}

.register-btn-style {
  background-color: #1d4ed8;
  border: none;
  color: white;
  padding: 15px 50px;
  border-radius: 10px;
  font-weight: bold;
}

.header-top p {
  margin-top: 3%;
}
.header-top h1 {
  font-size: 50px;
}

.speaker-section {
  max-width: 1150px;
  margin: auto;
  text-align: center;
  margin-top: 5%;
}

.speaker-section-parent img {
  max-width: 100%;
  border-radius: 8px;
}
.speaker-section-parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.speaker-section h1 {
  margin-bottom: 5%;
}
.speaker-section-parent h4 {
  color: #0d1b2a;
}

.speaker-section-parent .speaker-left-two,
.speaker-section-parent .speaker-right-two {
  margin-top: 8%;
}
.company-name-color {
  color: #2563eb;
}
.another-color {
  color: #575757;
}
.speaker-left-one p,
.speaker-left-one h4 {
  margin-top: 2%;
}
.speaker-left-two p,
.speaker-left-two h4 {
  margin-top: 2%;
}
.speaker-right-one p,
.speaker-right-one h4 {
  margin-top: 2%;
}
.speaker-right-two p,
.speaker-right-two h4 {
  margin-top: 2%;
}
